* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

.App {
  display: flex;
  gap: 40px;
  height: 100vh;
  
  padding: 40px;
  
  box-sizing: border-box;
}

.input,
.result {
  height: 100%;
  flex-basis: 50%;
  border: 3px solid grey;
  padding: 10px;
  font-size: 25px;
}

.result {
  background-color: grey;
  color: white;
}

.reset {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 20px;

  background-color: red;
  color: white;
  appearance: none;
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
}


